body{
background: #882DDD;
}
@import url('https://fonts.googleapis.com/css?family=Ramabhadra');
h1{
  font-family: Ramabhadra, sans-serif;
  text-align: center;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.73);
  text-shadow: rgb(188, 155, 217) 2px 2px 2px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#users{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: aliceblue;
  height: 500px;
  width: 262px;
  padding: 1rem;
  position: absolute;
  left: 8.4%;
  top: 15%;
}
#messages{
    flex: 1;
    height: 460px;
    width: 700px;
    background-color: black;
    position: absolute;
    left: 30%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 15%;
    padding: 2rem;
    overflow-y: auto;
    -webkit-box-shadow: -1px 0px 21px 0px rgba(232,220,232,1);
    -moz-box-shadow: -1px 0px 21px 0px rgba(232,220,232,1);
    box-shadow: -1px 0px 21px 0px rgba(232,220,232,1);
}
.sender-message{
   align-self: flex-end;
}
.message {
    background-color: #0b1942;
    padding: 10px;
    margin-bottom: 1rem;
    width: 40%;
    border-radius: 20px;
    word-wrap: break-word;
    color: whitesmoke;
    font-size: 1rem;
}
/* Username styling */
.username {
    font-family: "Arial Black", Gadget, sans-serif;
font-size: 18px;
letter-spacing: 0px;
word-spacing: 0px;
color: #FBFF30;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: normal;
}
#message-form {
    margin-top: auto;
}
*{outline: none;}
.searchbox-wrap{
  display     : flex; 
  width       : 1060px;  
  margin-top  : 8%;
  margin-left : auto;
  margin-right: auto;
  bottom: 2%;
  position: absolute;
  left: 8.4%;
  input{
     flex                             : 1;
     padding                          : 15px 10px;
     font-size                        : 1rem;
     -moz-border-radius-bottomleft    : 20px;
     border-bottom-left-radius: 20px;
     box-shadow                       : none;
     border                           : none;
     box-shadow                       : 2px 4px 6px rgba(0, 0, 0, 0.19);
  }
  button{
    padding-right                     : 10px;
    background-color                  : #fff;
    
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright    : 20px;
    border-bottom-right-radius        : 20px;
    box-shadow                        : 5px 4px 6px rgba(0, 0, 0, 0.19);
    border                            : none;
    cursor                            : pointer; 
    cursor                            : hand;
    
    span{
      margin-left     : 50px;
      padding         : 10px 22px;
      font-size       : 1rem;
      text-transform  : uppercase;
      font-weight     : 300 ;
      color           : #fff;
      background-color: #F54E59;
      
      border-radius   : 20px;
      box-shadow      : 2px 4px 6px rgba(0, 0, 0, 0.19);
      
      &:hover{
        background-color: #d6121f;
        box-shadow      : 2px 2px 4px rgba(0, 0, 0, 0.19);
      }
      
    }
  }
}